<div class="flex-container">
  <div
    class="flex-stretch ed-talent-container"
    *ngFor="let discipline of disciplines"
  >
    <div id="ed-discipline" class="ed-talent">{{ discipline.name }}</div>
    <table class="ed-talent">
      <tr>
        <th>Name</th>
        <th class="table-center">Rank</th>
        <th class="table-center">Attribute</th>
        <th class="table-center">Step</th>
      </tr>
      <ng-container *ngFor="let talent of discipline.talents">
        <tr>
          <td (click)="openDialog(talent)" id="talent-name">
            {{ talent.name }} ({{ getKarma(talent) }})
          </td>
          <td class="table-center" style="flex: 1">
            <button
              mat-icon-button
              *ngIf="editMode"
              (click)="increaseTalent(talent)"
              class="ed-button"
            >
              <mat-icon>arrow_drop_up</mat-icon>
            </button>
            <div>{{ talent.rankSave }}</div>
            <button
              mat-icon-button
              *ngIf="editMode"
              (click)="decreaseTalent(talent)"
              class="ed-button"
            >
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
          </td>
          <td class="table-center">{{ talent.attribute }}</td>
          <td class="table-center">{{ talent.step }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
