<mat-nav-list>
  <a mat-list-item routerLink="/welcome">Welcome</a>
  <a mat-list-item routerLink="/charactersheet">Character Sheet</a>

  <div class="btn-group-toggle" width="100%">
    <label class="btn-primary" ngbButtonLabel width="100%">
      Edit Mode
      <div *ngIf="editMode === false">Off</div>
      <div *ngIf="editMode === true">On</div>
      <input
        type="checkbox"
        ngbButton
        [(ngModel)]="editMode"
        (ngModelChange)="toggleEditMode($event)"
      />
    </label>
  </div>
</mat-nav-list>
