<div class="ed-content">
  <mat-toolbar class="ed-header" color="primary">
    <button class="ed-button" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ selectedCharacter.name }}</h1>
    <button class="btn-primary" (click)="logout()">Logout</button>
  </mat-toolbar>
  <mat-sidenav-container flex="1">
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav #snav mode="push" class="ed-nav">
      <app-aside-left></app-aside-left>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
